In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel("Book1.xlsx")

In [3]:
df=df.drop('Card ID ',axis=1)

In [4]:
df.columns=["National_ID"]

In [5]:
import string 
import random
def id_generator(size=12, chars=string.ascii_uppercase + string.digits):
      return ''.join(random.choice(chars) for _ in range(size))

In [6]:
df["Card_ID"]=df["National_ID"].apply(lambda x : id_generator())

In [7]:
def generate_names():
  first_names=('mohammed','Ahmed ','badr',"Elsadiq","Wagdi","Khaled","nada","","nour","somia","ibrahim","mustafa","hoda","eman","rahma","reem","sara","amera","abdulrhman")
  last_names=('nader','Samir','Abdullah',"Amir","yasser","Zaid","Mohsen","Elsadiq","omar","ali","Farhat","said","saad")
  return random.choice(first_names)+" "+random.choice(last_names)
df["names"]="a"
df["names"]=df["names"].apply(lambda x:generate_names())

In [8]:
string="Alexandria Aswan Asyut Beheira Beni_Suef Cairo Dakahlia Damietta Faiyum Gharbia Giza Ismailia Kafr_El_Sheikh Luxor Matruh Minya Monufia New_Valley North_Sinai Port_Said Qalyubia Qena Red_Sea Sharqia Sohag South_Sinai Suez "

In [9]:
names_of_govs=list(string.split())
len(names_of_govs)

27

In [10]:
def govs(names_of_govs5=names_of_govs):
    index=random.randint(0,26)
    return names_of_govs5[index]
df["governorate"]=df["National_ID"].apply(lambda x : govs())

In [11]:
df["balance"]=1
df["balance"]=df["balance"].apply(lambda x : random.randint(100,500))
df["paid_on_raod"]=df["balance"].apply(lambda x : random.randint(1000,50000))
df["voiltaion_should_paid"]=df["balance"].apply(lambda x : random.randint(1000,5000))
df["sum_voiltaion_paid"]=df["balance"].apply(lambda x : random.randint(2000,10000))
df["is_paid_on_time"]=df["balance"].apply(lambda x :random.randint(0,1))

In [12]:
df.to_csv("data_hack.csv",index=False)

In [13]:
df.head(10)

,National_ID,Card_ID,names,governorate,balance,paid_on_raod,voiltaion_should_paid,sum_voiltaion_paid,is_paid_on_time
0,73411474034088,FD0WS5E946OD,ibrahim said,Gharbia,218,24868,1904,5704,0
1,65052092383464,JO6FT9R5RCXH,reem Zaid,Gharbia,360,36220,1868,3062,0
2,72362795392934,2JGTD0TNW0P6,mohammed omar,Giza,441,11631,1849,9594,0
3,77302472878512,EPFE84MQVDJY,mohammed Mohsen,Cairo,379,37557,4823,9406,0
4,75328260960308,N9JQZ1CNC07K,Wagdi said,Dakahlia,344,16044,2318,2622,0
5,43832231151735,1M3B9IPM2JVR,Ahmed Zaid,Asyut,127,6529,2288,5047,0
6,65988415181340,GT2OMUCKF60C,Ahmed Elsadiq,Luxor,406,29881,1241,4006,1
7,48110826562482,7YZI26GCOTI2,nada saad,Qalyubia,321,35898,2389,8227,0
8,61062408943271,EPBVIL4GCDG6,sara Amir,Sohag,478,29211,3826,6971,0
9,85490943483127,9Y6Z6G20SN3E,nour omar,Cairo,224,3197,4428,6058,0